#map {
    width: 100%;
    height: 100vh;
}
#controls {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.disp-layers {
    background-color: #ffffff;
    margin: 3px;
}
.disp-attributes {
    background-color: #ffffff;
    margin: 3px;
}
/* 右上の現在のズームレベル表示 */
#zoom-level {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
/* メモ機能表示 */
#note-display {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明の背景色 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    white-space: nowrap; /* 改行されないようにする */
}
.toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
}
